@corDoTexto: #fff;
@corDoBotao: #000;
@corFundoBotao: #f7b731;
@corDoFundo: #37980e;

body {
    background-color: @corDoFundo;
    color: @corDoTexto;
}

h2 {
    padding-top: 40px;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
}
form {
    text-align: center;

    button {
        text-align: center;
        padding: 16px;
        padding-top: 30px;
        padding: 0 auto;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.8em;
        margin-top: 16px;
        border-radius: 8px;
        background-color: @corFundoBotao;
        color: @corDoBotao;
    }
}
