* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E7E7E7;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

form{
    display: flex;
    max-width: 1024px;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

form input{
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
    border-radius: 5px;
}

#botao-adicionar {
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
}

#botao-adicionar:hover {
    background-color: #00802b;
}

#error-warning {
    margin-top: 14px;
    color: red;
    margin-bottom: 56px;
    visibility: hidden;
}

#error-warning.show {
    color: red;
    visibility: visible;
}

table {
    width: 100%;
    text-align: center;

}

table thead {
    width: 960px;
    display: flex;
    justify-content: center;
}

table tbody {
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#foot-tabela {
    display: none;
}

#foot-tabela.show {
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#tr-head {
    width: 450px;
    display: none;
}

#tr-head.show {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.tr-notas {
    width: 550px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tr-notas:nth-last-of-type(1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

#tr-footer1 {
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-top: 2px dashed #000;
    padding-top: 25px;
}

#tr-footer2 {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.td-nome {
    width: 305px;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
}

.td-notas {
    width: 90px;
}

.td-notas.aprovado {
    color: green;
}

.td-notas.reprovado {
    color: red;
}

table th{
    border-bottom: 2px solid #000;
    padding: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 24px;
    font-weight: bold;
}

table td{
    padding: 16px 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
}

table td img{
    height: 30px;
    font-size: 20px;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.resultado{
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}

#media-final,
#media-notas{
    font-weight:800;
}

#nome-aluno {
    width: 300px;
}

#nota-aluno {
    width: 100px;
}

#texto-aprovados {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

#listagem-aprovados {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

#numero-aprovados {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

#texto-relacao {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

#lista-relacao {
    display: block;
    font-size: 16px;
}

#relacao-titulo {
    padding-top: 15px;
    font-size: 16px;
    color: grey;
    font-weight: bold;
    border-top: 2px solid grey;
}

#relacao-aprovados {
    font-size: 16px;
}

.aprovados {
    display: flex;
    flex-direction: row;
}

#botao-limpar {
    border: none;
    width: 90px;
    line-height: 30px;
    border-radius: 10px;
    border-color: #000;
    background-color: darkgray;
    cursor: pointer;
    margin-bottom: 80px;
}

#botao-limpar:hover {
    background-color: rgb(134, 133, 133);
}

@media (max-width: 960px) {
    table {
        width: 600px;
    }
    
    table thead {
        width: 600px;
    }
    
    table tbody {
        width: 600px;
    }

    table #foot-tabela.show {
        width: 600px;
    }
}

@media (max-width: 620px) {
    form {
        flex-direction: column;
    }

    #nome-aluno {
        width: 80%;
        margin-left: 30px;
        font-size: 18px;
    }

    #nota-aluno {
        margin-left: 30px;
        font-size: 18px;
    }

    #botao-adicionar {
        width: 80%;
        margin-left: 30px;
    }

    table {
        width: 400px;
    }
    
    table thead {
        width: 400px;
    }
    
    table tbody {
        width: 400px;
    }

    table #foot-tabela.show {
        width: 400px;
    }

    table th {
        font-size: 20px;
    }

    table td {
        font-size: 18px;
    }

    #tr-footer1 {
        width: 300px;
    }

    td.td-nome {
        margin-left: 60px;
    }

    td.td-notas {
        padding-right: 45px;
    }
}
